html {
    height: 100%;
}

body {
    height: 100%;
    background-color: lightcyan;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

th {
    text-align: center;
    background-color: #A09FA1;
}

th.left {
    text-align: left;
    font-weight: bold;
    background-color: #f1f1f1;
}

td {
    text-align: left;
    background-color: white;
}

td#secondTableLink {
    padding-right: 11px;
}

td#secondTable {
    padding-right: 253px;
}

td#thirdTableLink {
    padding-right: 127px;
}

td#thirdTable {
    padding-right: 307px;
}

td#fourthTableLink {
    padding-right: 142px;
}

td#fourthTable {
    padding-right: 291px;
}

a {
    color: white;
    word-wrap: break-word;
}

nav {
    width: 104%;
    margin-left: -2%;
    box-shadow: 0 -10px 8px 10px rgba(0, 0, 0, 0.2);
}

footer {
    height: 5%;
    width: 104%;
    margin-left: -2%;
    background-color: #343A40;
    box-shadow: 0 10px 8px 10px rgba(0, 0, 0, 0.2);
}

ul {
    margin: 0;
}

ul.dashed {
    list-style-type: none;
}

ul.dashed > li {
    text-indent: -5px;
    margin-left: -10px;
}

ul.dashed > li:before {
    content: "-";
    text-indent: -5px;
}

.firstEntry {
    margin-top: -15px;
}

.container {
    margin-top: 1%;
    margin-bottom: 1%;
    float: bottom;
    width: 70%;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 10px rgba(0, 0, 0, 0.19);
}

.leftContainer {
    float: left;
    width: 60%;
}

.rightContainer {
    float: right;
}

.logo {
    float: left;
    margin-top: 8px;
    margin-left: -15px;
}

.context {
    float: right;
    text-align: left;
    width: max-content;
}

.footerText {
    color: #9A9DA0;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 0.3%;
    font-size: 100%;
}

.collapsible {
    background-color: #343A40;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 95%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #484F55;
}

.content {
    padding: 0 18px;
    width: 95%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.imgCaption {
    font-size: 80%;
    text-align: center;
}

.imgLink {
    color: cornflowerblue;
}

.links {
    background-color: #343A40;
    margin-bottom: 0.3%;
    padding: 0.5%;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .container {
        width: 105%;
        margin-left: -2%;
    }

    nav, footer {
        width: 106.5%;
    }

    .imgCaption {
        width: 100%;
    }

    .leftContainer {
        width: 100%;
    }

    .footerText {
        font-size: 5vw;
    }

    .logo {
        width: 0;
    }

    .wrap {
        width: 40%;
    }
}